<div>
<div>
        <div class= "sidebar"> 
        <h2>points : {{currentUser.points}}</h2>
        <div>
         {{currentUser.username}}
        </div>
        <form (ngSubmit)="createItem($event)">
        <div>
          <div class = "warnMessage">{{warnMessageItem.message}}</div>
          <input class = "userinput" type="text" name="name" [(ngModel)]="createdItem.name" placeholder = "item name" >{{createdItem.name}}
          <input class = "userinput" type="url" name="url1" [(ngModel)]="createdItem.url1"  placeholder = "imageurl1" >{{createdItem.url1}}
          <input class = "userinput" type="url" name="url2" [(ngModel)]="createdItem.url2"  placeholder = "imageurl2" >{{createdItem.url2}}

          <input class = "userinput" type="url" name="url3" [(ngModel)]="createdItem.url3"  placeholder = "imageurl3" >{{createdItem.url3}}
          <!-- <input class = "userinput" type="url" name="modelUrl" placeholder = "modelUrl"> -->
          <textarea class = "userinput" name="story" [(ngModel)]="createdItem.story"    ></textarea>{{createdItem.story}}
          <input class="userinput" type="submit">
           </div>
          
          </form>
     

</div>