.modalOuter{
    position:absolute;
    height:100%;
    width:100%;
    z-index:10000;
    position:absolute;
        background-color: white;

    animation:fromLeft .5s both;


}

.invisibleDiv{
    display:none;
}

@keyframes fromLeft {
    0%{left:100%}
    100%{left:0%}
    
}


canvas{
        height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: 0 ! important;
    padding: 0 ! important;
    left: 0px ! important;
    top: 0 ! important;

}