
*{
    background-color: aliceblue;
}
.modalOuter{
    top:0;
    position:absolute;
    height:calc(100% + 200px);
    width:100%;
    z-index:10000;
    position:absolute;
        background-color: white;

    animation:fromLeft .5s both;


}


app-item-submit{
  display: block;
    width: 20%;
    border-radius: 12px;
    margin-left: 5%;
    margin-top:8px;
    
    padding: 10px;
    min-height: 400px;
}

#pageContainer{
    width: 70%;
    /* display: block; */
    border: 1px solid black;
    float: right;
    overflow: hidden;
    margin: 2.5%;
    margin-top: 8px;
    border-radius: 12px;
    max-height: 700px;
}
/* bot-community{

    min-height:800px;
    
} */


.invisibleDiv{
    display:none;
}

@keyframes fromLeft {
    0%{left:100%}
    100%{left:0%}
    
}

/* canvas{
    height:500px;
} */
canvas{
        /* height: 100%; */
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: 0 ! important;
    padding: 0 ! important;
    left: 0px ! important;
    top: 0 ! important;

}