.closeModal:hover{
    background-color:blue;
}

.chosenImage{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:40%;
    width:40%;

}

.itemCommentsContainer{
    animation:commentsPullDown .5s both;
    overflow-y:scroll;
    height:300px;
}

@keyframes commentsPullDown {
    0%{height:0px}

    100%{height:300px}
    
}

#imageRow{
    width:100%;
    padding:10px;
    display:flex
}

#bidContainer{
    width:100%;
    padding:10px;
    display:flex;
    text-align:center;
    animation: openBid .5s both
}

@keyframes openBid {
    0%{width:0x}
    100%{ width:100%}
}

ul{
  list-style-type: none
}
@keyframes shiftCard{
  0%{left:0px}
  50%{left:30px; z-index:2}
  100%{left:0px}

}

.commentList{
  max-height:300px;
  overflow-y: scroll;
}

.commentList li{
  border-radius: 3px;
}

.commentList li:hover{

  background-color: #5cadd2;


}

.commentList li.myComment:hover{

  background-color: orange;


}

.userLink:hover{
  background-color: orange;
  color:white;
}

.userLink{
  position:relative;  
  top:5px;
  margin-top:5px;
  padding: 5px;
    background-color: lightblue;
    border-radius: 3px;
    text-decoration: none;
    color:black;
}