.signupModule{
    top:0;
    position:absolute;
    height:100%;
    width:100%;
    position:absolute;
    background-color: white;
    animation:fromLeft .5s both;
        z-index:1000;

}

.loginModule{
        top:0;

    position:absolute;
    height:100%;
    width:100%;
    position:absolute;
        background-color: white;

    animation:fromLeft .5s both;
        z-index:1000;



}

.invisibleDiv{
    display:none;
}

@keyframes fromLeft {
    0%{left:100%}
    100%{left:0%}
    
}

.headers{
    display:flex;
    width:100%;
    height:150px;
}

.headers a{
    position: absolute;
    text-align: center;
   background: orange;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
    /* min-width: 80px; */
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}

.headers a.activated{
    position: relative;
    text-align: center;
   background: orange;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
    /* min-width: 80px; */
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    animation:buttonMove .3s both
}

.headers a.inactive{
visibility: hidden;
}



@keyframes buttonMove {
    0%{left:-50%}
    100%{left:0%}
    
}



@media screen and (max-width: 880px)  {

    .headers{
    display:flex;
    width:100%;
    height:60px;
}


.headers a.activated{
    text-align: center;
    word-wrap: break-word;
    background: orange;
    padding: 8px;
    border-radius: 6px;
    margin: 1px auto;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
        /* max-width: 16%; */
    
}

}