
<p>Welcome {{filter}} !!!!!</p>
  <ul (mousemove)="moveCard($event)" id="myTackBoard" style = "display:flex;min-width:100%; overflow:scroll; height:250px">
  <li [ngStyle]="{'float':'left', 'width':'25%','min-width': '250px', 'border':'black solid 1px', 
  'top':itemPositions.y + 'px',
  'left':itemPositions.x + 'px'
}" 
  
  *ngFor="let item of userItems; index as i" [attr.itemId]="i" >
    <div class = "itemName" (click)="setChosenItem(i)">{{item.name}}</div>
    <div  class = "itemLike" (click)="currentUser.points>0 && submitLike(i,item.likes, item.id, item.userId)">{{i+1}} {{item.likes.toString()}}</div>
    <div [ngStyle]="{ 'min-height': '150px','background-image': 'url(' + item.imageUrl1.toString() + ')' }"  (click)="selectCard(i)"></div>



  </li>
</ul>
