.container {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url("/assets/images/hero-banner.png");
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
}

.promoted {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  padding: 10px 150px 10px 150px;
}

.promoted img {
  width: 150px;
  height: 150px;
}

.promo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px 0 40px 0;
}

.promo-main-text {
  font-size: 24px;
  text-align: center;
}

.promo-sub-text {
  font-size: 20px;
  text-align: center;
}

.robot-parts-cta {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 25px 100px;
  padding: 10px 0;
}

.part {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.part img {
  width: 180px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #888;
}

.white-paper {
  display: flex;
  height: 100%;
  margin: 0 25px;
}

.white-paper img {
  width: 75%;
}

.white-paper .text {
  display: flex;
  width: 25%;
  flex-direction: column;
  background-color: #333;
  text-align: center;
  justify-content: space-between;
}

.white-paper .header-text {
  margin-top: 50px;
  font-size: 30px;
}

.white-paper .sub-text {
  font-size: 20px;
  color: #5cadd2;
  margin-top: 10px;
  padding: 0 15%;
}

.white-paper .sub-text p {
  margin: 0;
}

.white-paper .large-text {
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  margin-top: -50px;
  padding: 20px 0;
  font-size: 35px;
  color: #fff;
}

.white-paper .learn-more {
  background-color: #d25ca1;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.itemName{
background-color: #5cadd2;
}

.itemLike{
height:60px;
width:60px;
position:absolute;
top:calc(100% - 70px);
left:calc(100% - 70px);
text-align: center;
align-content: center;
vertical-align:middle;
}

.itemName:hover{
background-color: #2d4049;
}

/* .itemLike:hover{
  background-color: #2f873c;
} */


.card{
position:relative;
margin-left:5px;
padding:5px;
border-radius:3px;


}

.likeNumberContainer{
position: absolute;
    text-align: center;
    /* height: 100%; */
    width: 100%;
    margin: auto;
    top: 20px;
}

.cardShift{

  animation:shiftCard .5s both 
}

ul{
  list-style-type: none
}
@keyframes shiftCard{
  0%{left:0px}
  50%{left:30px; z-index:2}
  100%{left:0px}

}

#topComments{
  max-height:300px;
  overflow-y: scroll;
}

#topComments li{
  border-radius: 3px;
}

#topComments li:hover{

  background-color: #5cadd2;


}

#topComments li.myComment:hover{

  background-color: orange;


}

.heartContainer{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  
}

.heart{
  position:absolute;
  height:100%;
  width:100%;
  left:0;

}

.userLink:hover{
  background-color: orange;
  color:white;
}

.userLink{
  position:relative;  
  top:5px;
  margin-top:5px;
  padding: 5px;
    background-color: lightblue;
    border-radius: 3px;
    text-decoration: none;
    color:black;
}

.shakeHeart{
  animation: heartShake .5s both;
}
@keyframes heartShake {
  0%{transform:translate(-5px)}
  50%{transform:translate(5px)}
  100%{transform:translate(0px)}  
  /* 0%{transform:translate(0px)}
  100%{} */
}